<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<div class="input-group">
  <input type="text" id="myInput"  class="form-control" placeholder="Search" name="search">
  <div class="input-group-btn">
    <button class="btn btn-default" type="submit" (click)="myFunction()">
      <i class="glyphicon glyphicon-search"></i>
    </button>
  </div>
</div>
<!--<input class="form-control" id="myInput" type="text" placeholder="Search..">-->
<br>

<table class="table table-hover" id="myTable">
<tr class="trhead">
        <th>Province Name</th>
        <th></th>
    </tr>
    <tr *ngFor="let at of service.list">
        <td (click)="populateForm(at)">{{at.Province_Name}}</td>
        <td><button (click)="onDelete(at.Province_ID)" class="btn btn-sm btn-outline-danger"> <span class="glyphicon glyphicon-trash"></span></button></td>
        <!--<td><a routerLink="/view-province"><button type="button" class="btn btn-info btn-xs">View</button></a></td>    </tr>-->
</table>

