<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4 text-center">Employee Details</h1>
        <hr>
        <p>Employee Name: Tina</p>
        <p>Employee Surname: Polaki</p>
        <p>Employee ID No: 0000552225554</p>
        <p>Employee Passport No: 123954786</p>
        <p>Employee Physical Address: WM</p>
        <p>Employee Contact No: 0635485245</p>
        <p>Employee Email Address: a@gmail.com</p>

        <td><a routerLink="/employees"><button type="button" class="btn btn-info btn-xs">Cancel</button></a></td>
    </div>
</div>


