<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">

    <input type="hidden" name="Region_ID" #Region_ID="ngModel" [(ngModel)]="service.formData.Region_ID">

    <div class="form-group">
        <label>Region Name</label>
        <input name="Region_Name" #Region_Name="ngModel" [(ngModel)]="service.formData.Region_Name" class="form-control" required>
        <div class="validation-error" *ngIf="Region_Name.invalid && Region_Name.touched">This field is required.</div>
    </div>
    <div class="w3-show-inline-block" >
        <!--<button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">Save</button>-->
        <button type="submit" [disabled]="form.invalid" class="btn btn-xs ">Save</button>
        <button type="reset"  class="btn btn-xs " value="Cancel" >Cancel </button>
    </div>
</form>


